
<h1>Ma liste de tache 100% fron-end</h1>
<div class="recherche">
  <input type="text" class="form-control test" placeholder="Ajouter votre tâche" ng-model="todo">
  <button type="button" class="btn btn-success" ng-click="add()">Je valide</button>
</div>
<span class="glyphicon glyphicon-remove" ng-click="deleteAll()"></span>
<div role="tabpanel" class="tab-pane task" id="profile">
  <div class="panne">
    <div class="panel-group" id="accordionInvit">
      <div class="panel panel-default" ng-repeat="task in tasks">
        <div class="panel-heading">
          <h4 class="panel-title">
            <span class="glyphicon glyphicon-remove" ng-click="delete($index)"></span>
            <input type="checkbox" class="glyphicon glyphicon-star-empty" >
            <span class="glyphicon glyphicon-chevron-down" data-toggle="collapse" ng-click="storeTaskId($index)" data-parent="#accordionInvit" data-target="#collapseInvit{{$index}}" style="cursor: pointer"></span>
            <p>{{task.todo}}</p>
          </h4>
        </div>
        <div id="collapseInvit{{$index}}" class="panel-collapse collapse">
          <div class="panel-body">
            <input type="text" placeholder="Ajouter votre sous tâche" ng-model="subTask">
            <button type="button" class="btn btn-success" ng-click="subadd(subTask, $index)">Je Valide</button>
            <div ng-repeat="task in task.subTasks">
              <span class="glyphicon glyphicon-remove" ng-click="deleteSub($index)"></span>
              <p>{{task.todo}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
