body {
  background: url("../image/bg.jpg") no-repeat center fixed;
  background-size: cover;
}
h1 {
  text-align: center;
  color: #FFFFFF;
}
i {
  cursor: pointer;
}
.toast {
  font-size: 1.5rem;
}
.inputTodo {
  width: 50%;
  margin-top: 5%;
}
.bgtask {
  background-color: #ffffff;
  padding: 30px;
}
.inputTask {
  font-size: 1.9em;
}
.inputSubTask {
  font-size: 1.6em;
  margin-top: 100px;
}
.titleTask {
  margin-bottom: 15px;
  font-size: 1.6em;
}
.textTaskEmpty {
  text-align: center;
}
input[type="text"] {
  font-size: 1.3em;
}
.removeAllTask {
  color: #ffffff;
}
.removeTask {
  color: #000000;
}
.removeSubTask {
  margin: 5px 0 5px 0;
}
.btnValidtTask {
  margin-top: 10px;
}
.star, .removeTask {
  font-size: 25px;
  position: relative;
  top: 4vh;
  cursor: pointer;
}
.divider {
  width: 70%;
}

/*Typed*/

.typed {
  height: 20px;
}
.typed-cursor {
  display: none;
}
